{% extends "layout.html.twig" %}
{% block body %}
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <h1 class="govuk-heading-xl">Sign in to your DVSA account</h1>
        <form method="post" action="/login" enctype="multipart/form-data">
            <div class="govuk-form-group">

                <label class="govuk-label" for="username">
                    Username
                </label>

                <input class="govuk-input govuk-input--width-10" id="username" name="username" type="text">
            </div>

            <div class="govuk-form-group">

                <label class="govuk-label" for="password">
                    Password
                </label>

                <input class="govuk-input govuk-input--width-10" id="password" name="password" type="password">
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Sign in
            </button>
        </form>
    </main>
{% endblock %}